index.html.erb

<%= render 'rooms/newform' %>

<%=@response %>
<% @rooms.each do |room| %>
	<a href="/party/<%= room.id %>"><%= room.name %></a>
<%end%>
new_rooms
 <%= link_to "new room", new_rooms_path, :method => :get%>